.form-style {
    max-width: 700px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="tel"],
.form-style textarea,
.form-style select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style input[type="tel"]:focus,
.form-style textarea:focus,
.form-style select:focus {
    box-shadow: 0 0 5px rgba(242,163,69, .5);
    padding: 3%;
    border: 1px solid #F2A345;
}

input[type="submit"] {
    width: 100%;
    padding: 3%;
    background: #E9932D;
    border-bottom: 2px solid #E28F2C;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 105%;
}
input[type="submit"]:hover {
    background: #E28F2C;
}

.form-style input,
.form-style textarea {
    margin-top: .3em;
}

.form-style div {
    margin-top: 1em;
}

.row-1 {
    width: 49.5%;
    display: inline-block;
}

.check-box p,
.check-box label {
    display: inline-block;
    margin-right: 9%;
}
.check-box p:last-child {
    margin-right: 0;
}

.check-box p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.check-box h3 {
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 1%;
}

.check-box p:hover,
.check-box label:hover {
    cursor: pointer;
}

label {
    cursor: pointer;
}


